/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    margin: 0;
    padding: 0;
    /* width: 100%; */
    background:  #ffbc2c;
}
.bg{
    /* background-color: #282c34; */
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgb(85, 84, 181), rgb(225, 107, 107)); */
}
h1{
    size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.start-button{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.credit-button{
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 70%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
